
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<nav class="relative container mx-auto p-6">
			<div class="flex items-center justify-between">
				<div class="pt-2">
					<img src="img/logo.svg" alt="">
				</div>
				<div class="hidden md:flex space-x-6">
					<a href="#" class="hover:text-DarkGrayishBlue">Pricing</a>
					<a href="#" class="hover:text-DarkGrayishBlue">Product</a>
					<a href="#" class="hover:text-DarkGrayishBlue">About Us</a>
					<a href="#" class="hover:text-DarkGrayishBlue">Careers</a>
					<a href="#" class="hover:text-DarkGrayishBlue">Community</a>
				</div>
				<a href="" class="hidden md:block px-6 py-2 text-white bg-BrightRed rounded-full baseline hover:bg-red-500">Get Started</a>
			</div>
		</nav>
	</body>
</html>